.sidebar{
    z-index: 1000;
    height: 100%;
  position: fixed;
  overflow-x: hidden;
  
}

.mainbody{
    margin-left: 300px;
    padding: 2px;
    margin-top: 56px;
}


.footer {
    position:absolute;
   bottom:0;
   right: 0;
}

@media screen and (max-width: 425px){
    .sidebar{
        display: none;
}
    .mainbody{
        margin-left: 0;
    }
}

::-webkit-scrollbar {
  width: 10px;
}